<div class="row mt-5">
    <div id="admin" class="col s12">
        <div class="card material-table">
            <div class="table-header">
                <span class="table-title">Datatable</span>
                <div class="actions">
                    <a href="#add_users" class="modal-trigger waves-effect btn-flat nopadding"><i class="fa-sharp fa-solid fa-user" style="font-size: 14px !important;"></i></a>
                    <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="fa-sharp fa-solid fa-magnifying-glass" style="font-size: 14px !important;"></i></a>
                </div>
            </div>
            <table id="datatable" class="table table-striped  w-100 table-bordered ">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>