@*<div class="row mt-5">
        <div id="admin" class="col s12">
            <div class="card material-table">
                <div class="table-header">
                    <span class="table-title">Datatable</span>
                    <div class="actions">
                        <a href="#add_users" class="modal-trigger waves-effect btn-flat nopadding"><i class="fa-sharp fa-solid fa-user" style="font-size: 14px !important;"></i></a>
                        <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="fa-sharp fa-solid fa-magnifying-glass" style="font-size: 14px !important;"></i></a>
                    </div>
                </div>
                <table id="datatable" class="table table-striped  w-100 table-bordered ">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="body">
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>*@



<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-striped" id="tblStudent">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Position</th>
                    <th scope="col">Location</th>
                    <th scope="col">Age</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Salary</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        bindDatatable();
    });

    function bindDatatable() {
        datatable = $('#tblStudent')
            .DataTable({
                "sAjaxSource": "/Home/GetData",
                "bServerSide": true,
                "bProcessing": true,
                "bSearchable": true,
                "order": [[1, 'asc']],
                "language": {
                    "emptyTable": "No record found.",
                    "processing":
                        '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">Loading...</span> '
                },
                "columns": [
                    {
                        "data": "Name",
                        "autoWidth": true,
                        "searchable": true
                    },
                    {
                        "data": "Position",
                        "autoWidth": true,
                        "searchable": true
                    },
                    {
                        "data": "Location",
                        "autoWidth": true,
                        "searchable": true
                    },
                    {
                        "data": "Age",
                        "autoWidth": true,
                        "searchable": true
                    }, {
                        "data": "StartDateString",
                        "autoWidth": true,
                        "searchable": true
                    }, {
                        "data": "Salary",
                        "autoWidth": true,
                        "searchable": true
                    },
                ]
            });
    }
</script>